# Ignore everything
*
shared-drives/*

# But not these files...
!.gitignore
!.config/nvim/init.vim
!.jshintrc
!.screenrc
!*.vim

!script.pl
!template.latex
# etc...
#
#!*/

# if the files to be tracked are in subdirectories
!*/.vim/*
!*/.local/share/nvim/*

