# Ignore everything
*

# But not these files...
!.gitignore
!.config/nvim/init.vim
!.jshintrc
!.screenrc

!script.pl
!template.latex
# etc...

# ...even if they are in subdirectories
!*/

# if the files to be tracked are in subdirectories
!*/.vim/*
!*/.local/share/nvim/*

