# Ignore everything
*
shared-drives/*

# But not these files...
!.gitignore
!*init.vim
!.jshintrc
!.screenrc
!*.vim
!*dracula*.ini

!script.pl
!template.latex
# etc...
#
#!*/

# if the files to be tracked are in subdirectories
!*/.vim/*
!*/.local/share/nvim/*
!*/.local/share/mc/*

