[user]
	name = Gilbert Jeiziner
	email = gilbert.jeiziner@gjn.ch
[color]
	ui = true
[core]
  sharedRepository = true

	fscache = false
	editor = vim +'set tw=72' +'set cc=72'
[alias]
	lgb = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset%n' --abbrev-commit --date=relative --branches
[credential]
	helper = store
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
